@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ol-zoom,
.ol-rotate,
.ol-attribution {
  pointer-events: none !important;
  z-index: 1 !important; /* Ensure they are below the map */
}

.dash {
  display: inline-block;
  width: 50px;
  height: 2px;
  margin-left: 10px;
  vertical-align: middle;
}

.line {
  display: inline-block;
  width: 50px;
  height: 4px;
  margin-left: 10px;
  vertical-align: middle;
}

.yellow-line {
  background-color: rgb(250, 250, 0);
}

.red-line {
  background-color: red;
}

.green-line {
  background-color: lightgreen;
}

.yellow-dash {
  background: repeating-linear-gradient(
    90deg,
    yellow,
    yellow 5px,
    transparent 5px,
    transparent 10px
  );
}

.red-dash {
  background: repeating-linear-gradient(
    90deg,
    red,
    red 5px,
    transparent 5px,
    transparent 10px
  );
}

.green-dash {
  background: repeating-linear-gradient(
    90deg,
    green,
    green 5px,
    transparent 5px,
    transparent 10px
  );
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-slider {
  background-color: #2196f3;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}
